*{
    margin: 0;
    padding: 0;
}
body{

}

.result{
    /* border: 5px solid blue; */
    width: 220px;
    /* height:300px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    align-items: center;
    background-color: hsl(252, 100%, 67%);
    color: aliceblue;
}
.one{
    /* display: flex;
    flex-direction: column; */
    /* margin: 40px;*/
    font-size: 50px; 
}

.box{
    /* border: 20px solid saddlebrown;
     */

    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
    background-color: wheat;
    border-radius: 10px;
    
}
.summary{
    /* border: 1px solid ; */

    width: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    text-align: center;
    border-radius: 12px;
}
p{
    text-align: left;
    /* margin: 10px 10px; */
}
.tags{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 9px; */

}
.circle{
    width: fit-content;
    aspect-ratio: 1/1;
    border: 1px solid aquamarine;
    border-radius: 999%;
    background-color: hsl(241, 81%, 54%);
    padding: 50px;
}
.tag{
    padding: 12px;
    border: 2px solid saddlebrown;
    border-radius: 10px;

}

button{
    margin-top: 15px;
    background-color: grey;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .result{
        width:100%;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        width: 300px;

    }
    body {

    background-color: lightblue;
  }
}